@charset "UTF-8";

/* importations des polices d'écriture */
@font-face {
  font-family: 'Nevis-Bold';
  src:url('assets/fonts/Nevis-Bold.ttf.woff') format('woff'),
    url('assets/fonts/Nevis-Bold.ttf.svg#Nevis-Bold') format('svg'),
    url('assets/fonts/Nevis-Bold.ttf.eot'),
    url('assets/fonts/Nevis-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

/* mise en forme du corps */
html, body {
  min-height: 100%
}

body {
  background-color: white;
  padding-bottom: 88px;
}