/* mise en forme du pied de page */
#footer {
  background-color: lighten($color: #15202B, $amount: 6);
  color: white;
  padding-top: 28px;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
}